@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.gradient-btn {
    background-image: linear-gradient(to right, #19D3AE, #0FCFEC);
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
}
.gradient-btn:focus {
    outline: none;
}
.gradient-btn:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.text-heading {
    color: #203047;
    font-weight: 600 !important;
    font-size: 45px !important;
}

.text-brand {
    color: #1CC7C1;
}

.text-title {
    color: #0FCFEC;
    font-weight: bold;
}

.appointment-header {
    background: url('./images/chairBG.png') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0 !important;
}

.nav-text:hover {
    text-decoration: none!important;
}

.avatar {
    width: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 991px) {
    #collapse-dark {
        color: #343a40!important;
    }
}
